<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stream.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <main>
         <section class="glass">
             <div class="dashboard">
                <div class="user">
                    <a href="/">
                    <img src="./images/avatar.png" alt="">
                    </a>
                    <h3>Simo Adwin</h3>
                    <p>Pro Member</p>
                </div>
                <div class="links">
                    <a href="/streams">
                    <div class="link">
                        <img src="./images/twitch.png" alt="">
                        <h2>Streams</h2>
                    </div>
                    </a>

                    <a href="/games">
                    <div class="link">
                        <img src="./images/steam.png" alt="">
                        <h2>Games</h2>
                    </div>
                    </a>

                    <a href="/new">
                    <div class="link">
                        <img src="./images/upcoming.png" alt="">
                        <h2>New</h2>
                    </div>
                    </a>

                    <a href="/library">
                    <div class="link">
                        <img src="./images/library.png" alt="">
                        <h2>Library</h2>
                    </div>
                    </a>

                </div>
            </div>
                           <div class="container">
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                    <div class="grid-item">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
            </div>
        </section>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </main>
</body>

</html>