*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(3, 3, 59);
}

main{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center; /*vertically*/
    justify-content: center; /*horizontally*/
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;  /*higher number forward image*/
    backdrop-filter: blur(2rem);
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 1%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    height: 5rem;
}

.user{
    margin-top: 10px;
}
.games{
    flex: 2;
}

.links{
    display: flex;
    padding: 0;
}
.links a{
    color: rgb(3, 3, 59);
    text-decoration: none;
    cursor: pointer; 
    flex-direction: column;
}

.links a:hover{
    color: rgb(9, 121, 185);
 }
.link{
    margin: 2rem 0rem;
    padding: 1rem 0.5rem;
    align-items: center;
  
}

.link h2{
    margin: 0rem 2rem;
}

.pro{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    position: relative;
    padding: 1rem;
    margin-bottom: 8px;
    border-radius: 2rem;
}

.pro img{
    position: absolute;
    top: -10%;
    right: 10%;
}

.pro h2{
    width: 40%;
    color: white;
    font-weight: 600;
}

.status{
    margin-bottom: 1rem;
}

.error  
{
    height: 80vh;
    width: 100%;
    /* margin: 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.error  img
{
    height: 70vh;
    width: 80%;
}
  
.error a{
    text-decoration: none;
}
.error a:hover{
    text-decoration: none;
    font-size: 20px;
}